/* * {
   color: red;
} */

body {
    background-color: blueviolet;
}

fieldset {
    margin: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

.container {
     background-color:rgba(165, 42, 42, 0.424);
     margin: 150px;
     padding-left: 40px;
     padding-top: 10px;
}
.firstheader {
    text-align: right;
    text-transform: uppercase;
    color: white;
    background-color: black;
    width: 400px;
}
legend {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}